body{
    background-color: #000;
}

h1 {
    color: #808080;
}
.wrapper {
    width: 400px;
    margin: 50px auto 0;
    padding: 60px 30px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
}

.wrapper_title {
    text-transform: capitalize;
    margin: 0 0 40px;
}

.calculator_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    width: 100%;
}

.calculator_row:last-child {
    margin-bottom: 0;
}

.calculator_row label {
    text-transform: capitalize;
    font-weight: 700;
}

.calculator_bill {
    width: 50%;
}

.calculator_tip {
    width: 60%;
}
.slider{
    margin-left: 120px;
}
#yearSelect{
    width: 50%;
}
#interestAmount{
    width: 50%;
}
#amountInput{
    width: 50%;
}

.output p{
    margin: 0;
}


.calculator__info {
    text-transform: capitalize;
    margin: 0;
}